body{
	padding: 0px;
	margin: 0px;
}

html, 
body {
	height: 100%;
}

.foto{
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
}

#tela_cheia { 
	background: black;
	background-image: url('img/criscomp.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%; 
	width: 100%;
}

#barra_rodape{
	position: absolute;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 24px;
	padding-top: 5px;
	filter: alpha(opacity=60);
	opacity: 0.6;
	z-index: 10000;
	color: black;
}